*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  margin-bottom: 1rem;
}
span{
   color: red;
}
.red{
  border-color: red;
}